<div id="home">
  <!-- Main Title -->
  <h2 class="main-title">Prader-Willi Symptom Checker</h2>

  <div class="container">
    <div class="grid">
      <div class="card" (click)="navigateTo('bot')">
        <img src="assets/chatbot.png" alt="Bot">
        <p>Symptom Checker</p>
      </div>

      <div class="card" (click)="navigateTo('education')">
        <img src="assets/education.png" alt="Education">
        <p>Educational Content</p>
      </div>

      <div class="card" (click)="navigateTo('doctors')">
        <img src="assets/doctor.png" alt="Find Doctors">
        <p>Find Doctors</p>
      </div>

      <div class="card" (click)="navigateTo('todo')">
        <img src="assets/Todo.png" alt="To-Do">
        <p>To-Do List</p>
      </div>
    </div>
  </div>
</div>
